<!DOCTYPE html>
<html data-ng-app="bpmApp">
<head>
  <title>BPM Calculator</title>
  <meta charset="UTF-8">
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>

  <script src="app/app.js"></script>
</head>
<body data-ng-controller="bpmCtrl" data-ng-Keydown="set_bpm()">
  <h1>BPM Calculator</h1>

  <div>
    <div id="instructions">Tap the button or tap anywhere on your keyboard to start recording.<br />
    (Note: Counter will reset after 3 seconds of no tapping.)</div>
    <button class="btn btn-default btn-lg" 
    data-ng-click="set_bpm()" 
    data-ng-Keydown="blur_method(0)">Tap!</button>
    <button class="btn btn-danger btn-lg" 
    data-ng-click="reset_bpm()" 
    data-ng-Keydown="blur_method(1)">Reset</button>
    <div id="status">You are currently tapping at <b>{{ bpm }} bpm</b>.</div>
    <div id="firstClick"></div>
  </div>
</body>
</html>